doctype html
html(lang='en')
  head
    title SAYPD
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
    link(rel='stylesheet' href='https://unpkg.com/vuetify@0.14.11/dist/vuetify.min.css')
  body
    #app-container
    script(src='app.bundle.js')
